In [2]:
import pandas as pd

In [3]:
data_path = 'data.csv'

Читай данные с помощью __`read_csv()`__ и погнали!

In [5]:
df = pd.read_csv('data.csv')

<div class="panel panel-info" style="margin: 50px 0 0 0">
    <div class="panel-heading">
        <h3 class="panel-title">Задание 1: Причесываем колонки</h3> 
    </div>
</div>

Окей, мы прочитали данные, но с ними еще не совсем удобно работать!

Прежде всего, __переименуй колонки__ так, чтобы они все были на старом-добром английском языке. Обычно предпочитают называть их __`likeThat`, `LikeThat`__ или __`like_that`__. Выбери что-то одно.

In [6]:
df.columns

Index(['Возраст', 'Пол', 'Состоит в браке', 'Иждивенцы', 'Доход',
       'Опыт работы', 'Срок проживания', 'Недвижимость(кв.м.)',
       'Месячный платеж', 'Благонадежный заемщик'],
      dtype='object')

In [10]:
newColumns = ['age', 'sex', 'maritalStatus', 'dependents', 'income', 'workingExp', 'termOfStay', 'property', 'payment', 'reliable']

In [11]:
df.columns = newColumns
df.columns

Index(['age', 'sex', 'maritalStatus', 'dependents', 'income', 'workingExp',
       'termOfStay', 'property', 'payment', 'reliable'],
      dtype='object')

<div class="panel panel-info" style="margin: 50px 0 0 0">
    <div class="panel-heading">
        <h3 class="panel-title">Задание 2: Язык, понятный компуктору</h3> 
    </div>
</div>

Все русские слова - вон! Да, и значения в колонках в том числе. 

Замените все значения в колонках пола, признака состояния в браке и благонадежности на нули и единицы, раз уж уникальных значений в них не больше двух. __Подсказка:__ используй метод __`map()`__.

Убедитесь, что у вас все получилось, вызвав __`value_counts()`__ у соответствующих колоночек. А потом и проверьте тип данных с помощью __`info()`__

In [12]:
df.sex = df.sex.map({'мужской': 1, 'женский': 0})
df.maritalStatus = df.maritalStatus.map({'Да': 1, 'Нет': 0})
df.reliable = df.reliable.map({'Да': 1, 'Нет': 0})

<div class="panel panel-warning" style="margin: 0 0 0 0">
    <div class="panel-heading">
        <h3 class="panel-title">Бонус!</h3> 
    </div>
</div>

Удали строчку с __NaN__! Найди ее! И удали!

In [16]:
df[df.isnull().any(axis=1)]
df.dropna(inplace=True)

<bound method DataFrame.info of       age  sex  maritalStatus  dependents   income  workingExp  termOfStay  \
0    28.0  0.0            1.0         0.0   9000.0         9.0         7.0
1    39.0  1.0            1.0         1.0  13500.0        17.0         6.0
2    31.0  1.0            0.0         2.0   7000.0        11.0         3.0
3    34.0  1.0            0.0         1.0  10200.0        15.0         2.0
4    46.0  0.0            1.0         2.0   8500.0        20.0         8.0
..    ...  ...            ...         ...      ...         ...         ...
994  35.0  1.0            0.0         2.0  31000.0        17.0         6.0
995  37.0  0.0            1.0         1.0   3600.0         8.0        15.0
996  40.0  0.0            1.0         0.0   8500.0         8.5         6.0
997  39.0  0.0            1.0         0.0  17500.0        21.0         6.0
998  40.0  0.0            1.0         0.0  26800.0        20.0         5.0

     property  payment  reliable
0         0.0   3946.0       0.0
1         0.0   2460.0       1.0
2         0.0   3126.0       0.0
3        41.0   3280.0       1.0
4         0.0   3348.0       1.0
..        ...      ...       ...
994       0.0   4715.0       1.0
995       0.0   2409.0       0.0
996      42.0   2460.0       1.0
997       0.0   3331.0       1.0
998      45.0   2614.0       1.0

[999 rows x 10 columns]>

<div class="panel panel-info" style="margin: 50px 0 0 0">
    <div class="panel-heading">
        <h3 class="panel-title">Задание 3: Новые колонки</h3> 
    </div>
</div>

Помнишь еще, как создаются новые колонки? Ну ничего, погуглишь.

1. Сделай новую колонку __а-ля "удар по бюджету"__, значения в которой равны доле месячного платежа к величине дохода.
2. Посчитай в новой колонке __а-ля "размер семьи"__, сколько у заемщика человек в семье, то есть количество иждивенцев + муж/жена (если таковые имеются). 
2. Считая, что деньги в семье распределяются абсолютно честно, сделай новую колонку __а-ля "моя доля"__, значения в которой равны доходу (чистому, учитывая ежемесячный платеж!), деленному на количество человек в семье.

Вызови __.head()__ и полюбуйся в конце на результаты своей работы.

In [18]:
df['expense'] = df.payment / df.income
df['members']= df.maritalStatus +df.dependents
df['pie']=(df.income - df.payment)/ df.members

<div class="panel panel-warning" style="margin: 0 0 0 0">
    <div class="panel-heading">
        <h3 class="panel-title">Бонус!</h3> 
    </div>
</div>

Удали один какой-нибудь ненужный столбец, если хочешь. Какой-нибудь бесполезный. Но лучше не надо.

<bound method DataFrame.info of       age  sex  maritalStatus  dependents   income  workingExp  termOfStay  \
0    28.0  0.0            1.0         0.0   9000.0         9.0         7.0
1    39.0  1.0            1.0         1.0  13500.0        17.0         6.0
2    31.0  1.0            0.0         2.0   7000.0        11.0         3.0
3    34.0  1.0            0.0         1.0  10200.0        15.0         2.0
4    46.0  0.0            1.0         2.0   8500.0        20.0         8.0
..    ...  ...            ...         ...      ...         ...         ...
994  35.0  1.0            0.0         2.0  31000.0        17.0         6.0
995  37.0  0.0            1.0         1.0   3600.0         8.0        15.0
996  40.0  0.0            1.0         0.0   8500.0         8.5         6.0
997  39.0  0.0            1.0         0.0  17500.0        21.0         6.0
998  40.0  0.0            1.0         0.0  26800.0        20.0         5.0

     property  payment  reliable   expense  members           pie
0         0.0   3946.0       0.0  0.438444      1.0   5054.000000
1         0.0   2460.0       1.0  0.182222      2.0   5520.000000
2         0.0   3126.0       0.0  0.446571      2.0   1937.000000
3        41.0   3280.0       1.0  0.321569      1.0   6920.000000
4         0.0   3348.0       1.0  0.393882      3.0   1717.333333
..        ...      ...       ...       ...      ...           ...
994       0.0   4715.0       1.0  0.152097      2.0  13142.500000
995       0.0   2409.0       0.0  0.669167      2.0    595.500000
996      42.0   2460.0       1.0  0.289412      1.0   6040.000000
997       0.0   3331.0       1.0  0.190343      1.0  14169.000000
998      45.0   2614.0       1.0  0.097537      1.0  24186.000000

[999 rows x 13 columns]>

<div class="panel panel-info" style="margin: 50px 0 0 0">
    <div class="panel-heading">
        <h3 class="panel-title">Задание 4: Время гуглить</h3> 
    </div>
</div>

В `pandas` есть функция под названием __`cut()`__, которая позволяет разбить значения признака на группы (или корзины), и присвоить каждой группе свою метку.

Например, будет неплохой идеей разбить возраст на возрастные группы: до 18 лет, до 30 лет, до 50, до 99. И сделать новую колонку с соответствующей меткой. Можно, чтобы она была строкой, да.

Как раз и вспомнишь, как новый столбец сделать.

А потом посмотри на __`.value_counts()`__ этого столбца и сделай мудрые выводы.

In [20]:
df['groups'] = pd.cut(df.age, [0, 18, 30, 50, 99], labels=['child', 'young', 'adult', 'retired'])

In [21]:
df.groups.value_counts()

adult      657
young      297
retired     45
child        0
Name: groups, dtype: int64

<div class="panel panel-info" style="margin: 50px 0 0 0">
    <div class="panel-heading">
        <h3 class="panel-title">Задание 5: Время приключений</h3> 
    </div>
</div>

Кто тут data scientist? Ты data scientist!

Докажи это! Исследуй данные вдоль и поперек!

Группируй с помощью __`.groupby()`__ строки по полу, семейному статусу и всему другому, что приходит в голову, и считай статистики: средние и медианные доходы, квадратные метры и размеры семей. Не забывай учитывать и нашу целевую переменную - благонадежность - и задавать себе вопросы, например, вот такие:

- *Правда ли, что чем больше у заемщика семья, тем большую сумму кредита он хочет получить?*
- *Правда ли, что мужчины в среднем владеют большей площадью недвижимости?*
- *Правда ли, что старшее поколение более надежно в деле выплат?*
- *Правда ли, что молодые больше зарабатывают?*

Вперед! Не подведи!

In [30]:
df.groupby('members').payment.mean()

members
0.0    4297.385185
1.0    4015.338192
2.0    4013.359281
3.0    4054.828571
4.0    4133.783784
5.0    4438.300000
Name: payment, dtype: float64

In [31]:
df.groupby('sex').property.mean()

sex
0.0    14.386819
1.0    14.884615
Name: property, dtype: float64

In [34]:
df.groupby('groups').reliable.mean()

groups
child           NaN
young      0.498316
adult      0.473364
retired    0.733333
Name: reliable, dtype: float64

In [48]:
df.groupby('groups').income.mean()

groups
child               NaN
young      12841.077441
adult      13395.585997
retired    14924.444444
Name: income, dtype: float64